*{
    margin: 0px;
    padding: 0px;
}
.main-menu{
    background-color: blanchedalmond;
}
.main-menu-list{
    display: inline-flex;    
    list-style-type: none;
    margin: 15px 0px 15px 75px;
    position: relative;
}
#main-menu-list a{
    text-decoration: none;
    color: black;
    margin: 0px 35px;
}
.sub-menu{
    position: absolute;
    display: none;
    margin: 35px;
    
    margin-left: -150px;
    background-color: blanchedalmond;
}
#sub-menu-heading{
    padding: 0px 25px;
    margin: 0px 50px;
}
#sub-menu-list{
    padding-left: 50px;
}
#main-menu-list:hover .sub-menu{
    display: inline-flex;
    transition: 0.1s;
}