*{
    margin: 0;
    padding: 0;
}

@media(min-width: 768px){
.navbar-brand-mbl{
    display: none;
}
.navbar{
    background-color:black;
    }
}
@media(max-width: 768px){
    .navbar{
        background-color: red;
    }
    .navbar-brand{
        display: none;
    }
}