*{
margin:0px
}
.menu-bar{
    height: 100px;
    background-color: black;
}
.catagories-list{
    text-decoration: none;
    list-style: none;
    margin-left: 100px;

}
#catagories-list {
    display: inline-flex;
}
.catagories-item{
    text-decoration: none;
    padding: 7px;
    text-transform: uppercase;
    font-size: smaller;
    color:red;
    font-size: 12px;    
}
.logo1{
    padding-left: 50px;
}
.check{
    display: none;
}
#toggle{
    display: none;
}
.icon{
    display: none;
}

@media(max-width: 1080px) {
    .catagories{
        display: inline-flex;
        width: 100%;
        
    }
    .check{
        display: block;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 10px;
        
    }
    .catagories-list{
        display: none;
    }
    .fa-bars{
        color:red;
    }
    
    .fa-search{
        color: red;
        display: block;
        margin-top: 20px;
        padding-left: 350px;
        
    }
    
    #toggle:checked + #catagories-list{
        display: block;
    }
    
    .logo1{
        display: block;
        cursor: pointer;
        margin-top: 20px;
        padding-left: 5px;
    }
    .fa-home{
        color: red;
        padding-left: 15px;
        padding-top: 35px;
        position: fixed;
    }
    .icon{
        display: block;
    }
    .menu-list{
        padding-top: 30px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    
}
/*Nav bar Css*/
.menu-list{
    margin-left: 100px;
    margin-top: -25px;
    
}

#menu-list{
    display: inline-flex;
}
.menu-item{
    text-decoration: none;
    padding: 7px;
    text-transform: uppercase;
    color:red;
    font-size: 15px;
    font-weight: 100px;   
    padding-bottom: 15px; 
}
